footer{
    font-size: smaller;
    font-weight: 300;
}
p, a, li, ul, ol, h1, h2, h3, h4, h5, h6{
    font-size: 2.4vh;
    font-weight: 400;
}

h4{
    text-decoration-line: underline;
}
h3{
    text-decoration-line: underline;

}
h2{
    text-decoration-line: underline;

}
h1{
    text-decoration-line: underline;

}
b{
    font-weight: 800;
}
a{
    text-decoration-line: none;
    color: #74D
}
h1, h2, h3{
    font-weight: 800;
}
h4, h5, h6{
    font-weight: 700;
}
div{
    margin-bottom: 2vh;
}
.blacktext{
    color: #000;
}
.klein{
    font-size:1vh;
    color: #788
}
button, input{
    font-size: 1.8vw;
}