.top{
    flex-direction: row;
    background-color: #226;
    justify-content: space-between;
    align-items: center;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 2vh;
    padding-bottom: 2vh;

}
.bottom{
    flex-direction: row;
    background-color: #124;
    min-height: 100vh;
}
p, a, b, li, ul, ol, h1, h2, h3, h4, h5, h6, input, button{
    color: #DDD;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 500;
}


.spacer{
    white-space: nowrap;
    width:110%;
    height: 10%;
    image-rendering: pixelated;
    margin:none;
    border:none;
    background-size: cover;
  
    }
    .layer1{
        transform: scaleY(-1);
        aspect-ratio: 15/1;
        background-image: url("png/wave-haikei.png");
    }



input{
    padding: 1vw;
    color: #556;
    border-bottom: #778;
    border-radius: 1vw;
    fill: #445
}
html, body{

    overflow: hidden;
    overflow-y: scroll;
    max-height: 100%;
    max-width: 100%;
    min-width: 300px;
    min-height: 200px;
    margin: 0%;
    padding: 0%;
    border-radius: 0%;
    align-self: start;
}

