.top{
    flex-direction: row;
    background-color: #226;

}
.bottom{
    flex-direction: row;
    background-color: #124;
}
p, a, b, li, ul, ol, h1, h2, h3, h4, h5, h6, input, button{
    color: #BBB;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 500;
}
.spacer{
    min-height: 50vh;
}


input{
    padding: 1vw;
    color: #556;
    border-bottom: #778;
    border-radius: 1vw;
    fill: #445
}
html, body{

    overflow: hidden;
    overflow-y: scroll;
    max-height: 100%;
    max-width: 100%;
    min-width: 300px;
    min-height: 200px;
    margin: 0%;
    padding: 0%;
    border-radius: 0%;
    align-self: start;
}

