.top{
    display: flex;
    background-color: #226;
    align-items: center;
    align-content: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 20vw;
    padding-right: 20vw;
    

}
.bottom{
    flex-direction: row;
    background-color: #124;
    min-height: 100vh;
}
p, a, b, li, ul, ol, h1, h2, h3, h4, h5, h6, input, button{
    color: #DDD;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 500;
}


.spacer{
    white-space: nowrap;
    width:100%;
    height: 5%;
    background-repeat: repeat-x;
    image-rendering: pixelated;
    margin:none;
    border:none;
    background-size: cover;
  
    }
    .layer1{
        transform: scaleY(-1);
        aspect-ratio: 28/1;
        background-image: url("png/wave-haikei-4.png");
    }



input{
    padding: 1vw;
    margin: 1vw;
    color: #556;
    border-color: #778;
    border-style: solid;
    border-radius: 1vw;
    fill: #445
}
button{
    padding: 1vw;
    color: #556;
    border-style: solid;
    margin: 1vw;
    border-color: #778;
    border-radius: 1vw;
    fill: #445
}
html, body{

    overflow: hidden;
    overflow-y: scroll;
    max-height: 100%;
    max-width: 100%;
    min-width: 300px;
    min-height: 200px;
    margin: 0%;
    padding: 0%;
    border-radius: 0%;
    align-self: start;
}
.tags{
    display: flex;
    flex-direction: row;

    font-size: 1.4vw;
    align-content: center;
}
 
h2{
    display: inline;
    padding-right: 10vw;
}
.verein{
    margin-left: 10vw;
    margin-right: 10vw;
    padding-right: 5vw;
    padding-left: 5vw;
    border: #224;
    border-radius: 3vw;
    border-style: solid;
    background-color: #113;
}
.inline{
    display:inline;
    align-content: center;
    white-space: nowrap; 
    width: 60vw;
    height: 10vh
}
img{
    width: 18vw;
    height: auto;

}
.left{
    float: left;
}
.right{
    float: right;
}
ul, li{
    display: inline;
}
.tag{
    background-color: #445;
    border: solid;
    border-color: #445;
    border-radius: 0.2vw;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
   
    
}



